@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary color */
    --primary-color: #337AB7;
    --primary-color-light: #5a9bd9;
    --primary-color-dark: #1b5d97;
  
    /* Secondary color */
    --secondary-color: #FFFFFF;
    --secondary-color-light: #ffffff;
    --secondary-color-dark: #d3d3d3;
  
    /* Banner color */
    --banner-color: #002A42;
  
    /* Third color */
    --third-color: #211F33;
    --third-color-light: #433c54;
    --third-color-dark: #0a0316;
  
    /* Icon fill color */
    --icon-fill-color: #595766;
    --icon-fill-color-light: #7b7986;
    --icon-fill-color-dark: #373845;
  
    /* Warning color */
    --warning-color: #D53948;
    --warning-color-light: #e8696a;
    --warning-color-dark: #b10625;

    /* Hover button background color */
    --table-hover: #F4F4F5;
    --hover-button: #E8E8EA;
  }
  